<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header"> 
   <button type="button" 
   class="navbar-toggle" data-toggle="collapse" 
   data-target="#myNavbar">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span> 
   </button>
   <h1 class="navbar-brand">Project Manager</h1>
  </div> 
   <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav">
           <li><a [routerLink]="['projects']">{{'HEADER.ADDPROJECT' | translate}}</a></li>
           <li><a [routerLink]="['tasks']">{{'HEADER.ADDTASK' | translate}}</a></li>
           <li><a [routerLink]="['users']">{{'HEADER.ADDUSER' | translate}}</a></li>
            <li><a [routerLink]="['users']">{{'HEADER.VIEWTASK' | translate}}</a></li>
            </ul>
       <ul class="nav navbar-nav navbar-right">
           <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
           <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         </ul>
   </div>
</header>
